@font-face {
    font-family: Vazir;
    src: url('../Vazir.ttf');
}

body{
    font-family: Vazir;
}


/*.container {*/
/*    font-family: Vazir;*/
/*    width: 1000px;*/
/*    height: 70vh;*/
/*}*/



#php-tag{
    margin-top: 25px;
    direction: rtl;
}

#column{
    direction: rtl;
}

#form{
    direction: rtl;
}

#btn {
    align-self: center;
}
#cat-id{
    width: 50px;
    background-color: grey;
}

#cat-name{
    background-color: darkgreen;
    width: 350px;
}

#rm-cat{
    color: white;
    text-decoration: none;
    background-color: rebeccapurple;
    width: 200px;
}
#rm-cat:hover{
    text-decoration: none;
    color: white;
}
#edit-cat{
    text-decoration: none;
    background-color: darkred;
    width: 200px;
}
