@font-face{
    font-family: vazir;
    src: url("../../admin/fonts/Vazir.ttf");
}
body {
    background-color: #f1f1f1;
    font-family: vazir;
    margin:0;
    padding: 0;
}
.container {
    display: flex;
    width: 1600px;
    margin: auto;
    flex-direction: column;

}
#navbar{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #444;
    border-radius: 15px;
}


#logout-img {
    margin-left: 20px;
    margin-top: 10px;
    height: 35px;
    width: 35px;
}
#admin-name{
    color: white;
    margin-right: 20px;
}
.main{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
#rmenu{
    box-shadow: 5px 5px 5px 5px rgba(43, 32, 37, 0.5);
    border-radius: 15px;
    display: flex;
    direction: rtl;
    width: 380px;
    background-color: gray;
    height: 80vh;
    margin-left: 20px;
}
#center{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 1200px;
    background-color: rgba(128, 128, 128, 0.23);
    height: 80vh;
}

#ul-r li{
    margin-top: 25px;
}
#ul-r{
    list-style: none;
}

#ul-r a{
    margin-top: 25px;
    text-decoration: none;
    color: black;
}

#ul-r a:hover{
    color: lightgray;
}

#iframe {
    border: none;
    width: 1100px;
    height: 70vh;
}